* {
  padding: 0px;
  margin: 0px;
  font-size: 13px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

input {
  width: 100%;
  height: 38px;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  padding: 10px;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  width: 120px;
  height: 38px;
  padding: 10px;
  background: #4482ff;
  color: #ffffff;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

button:disabled{
  background: #49494e;
}

button.btn-icon{
  width: 20px;
  height: 20px;
  padding: 0px;
}

.register-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  background: url('../img/register-background.jpg')
    center center no-repeat;
  background-size: cover;
}

.login-container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  background: url('../img/login-background.jpg')
    center center no-repeat;
  background-size: cover;
}

.register-form {
  background: #ffffff;
  width: 500px;
  padding: 70px 50px;
}

.login-form{
  background: #ffffff;
  width: 500px;
  padding: 70px 50px;
}

.form-header {
  text-align: center;
  color: #788194;
  margin-bottom: 70px;
}

.form-header h3 {
  font-size: 38px;
}

.form-content>* {
  margin-bottom: 15px;
}

.name-wrapper {
  display: flex;
  justify-content: space-between;
}

.name-wrapper>* {
  width: calc(50% - 7px);
}

.form-footer {
  display: flex;
  justify-content: space-between;
}

.message-error{
  color: #ff0000;
}

.message-success{
  color: #00ff00;
}



.main-nav{
  height: 38px;
  display:flex;
  justify-content: flex-end;
  background: #4882ff;
  color:white;
  padding: 10px;
}

.chat-container{
  height: calc(100% - 38px);
  display: flex;
}

.list-message{
  height:calc(100% - 38px);
  padding: 10px;
  overflow: scroll;
}

.form-chat{
  height: 38px;
  display: flex;
  justify-content: space-between;
}
.list-message .message-chat{
  margin-bottom: 10px;
  padding: 10px;
}

.list-message .your{
  text-align: right;
}

.list-message .message-chat span{
  display: inline-block;
  max-width: calc(50% - 10px);
  padding:10px;
  border: 1px solid #4482ff;
  border-radius: 5px;
  color:#4882ff;
  word-break: break-word;
}

.form-chat .input-wrapper{
  width: calc(100% - 120px);
}

.current-conversation{
  width: 85%;
}

.conversation .conversation-title{
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
}

.conversation .conversation-members{
  font-size: italic;
  font-size: 10px;
}

.aside-left{
  width: 15%;
}

.conversation.current{
  background: #e8e2e2;
}

.conversation{
  padding: 10px;
}

.conversation:hover{
  cursor:pointer;
}

.form-add-conversation{
  padding: 10px;
}

.form-add-conversation>*{
  margin-bottom: 10px;
}

.list-conversation{
  max-height: 50%;
  overflow-y: scroll;
}

.aside-right{
  width: 15%;
}

.aside >*{
  padding: 0px;
  margin: 0px;
  font-size: 13px;
}

@media screen and (max-width:720px) {
  .list-conversation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
  }
  .conversation{
   margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .conversation .conversation-title {
    visibility: visible;
    text-overflow: unset;
    padding-left: 9px;
  }
  .conversation .conversation-members{
    visibility: hidden ;
  }
}
